@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}

.right_info {
	font-family: Microsoft JhengHei;
	width:300px;
	float: left;
	position: relative;
	top:146px;
	left:100px;

}
.listening{

	background-image: url(http://localhost/dloygtw/images/tabs/rightside_listening41.png);
	 -webkit-filter: drop-shadow(1px 1px #cbcbcb);
	position: relative;
	z-index: 10;
	width: 400px;
	height: 500px;
	left:-40px;
	top:-50px;
	font-family: 'cwTeXHei', serif;
	font-size: 16px;
	text-align: center;

}
.listening p{
	font-family: 'cwTeXHei', serif;
	font-size: 16px;
	color: #fff;
	position: relative;
	top: 28px;
	left:-40px;
}


.musiccover{
	position: relative;	
	top:35px;
	left: -70px;
	z-index: 10;
	text-align: center;
}
.musiccover img{
	position: relative;
	left:50px;
	width:100px;
	box-shadow:2px 2px 3px 0px rgba(0, 0,0, 0.6);
}
.musiccover .covertext{
	position: absolute;
	left:285px;
	top:35px;
/*	font-family: 'Architects Daughter', cursive;*/
	 -webkit-filter: drop-shadow(1px 1px #cbcbcb);
	font-size: 16px;
	width: 150px;
	height: 100px;
	
}


.right_info .searchBOX{
/*	background-color: #8e8071;*/
   background-image: url(http://localhost/dloygtw/images/tabs/rightside_search.png);
    -webkit-filter: drop-shadow(1px 1px #cbcbcb);
	width: 400px;
	height: 168px;
	position: relative;
	left: -50px;
	top:-120px;
	/*line-height:168px;*/
	color: #ffffff;
	font-family: 'cwTeXHei', serif;
	font-size: 16px;
	margin-bottom: 50px;
	
}
.right_info .searchBOX p {
	position: relative;
	top:25px;
	left:-20px;
	text-align: center;
}
.right_info  input.searchMF {
   color: #000000;
   /*margin-left:5px;  */
   position: relative;
   left:75px;
   top:40px;
   width: 218px; 
   border-top-left-radius: 5px; 
   border-bottom-left-radius: 5px; 
   border: 1px solid #a99aab;
   outline:none;
   height: 35px;	
   font-family:Microsoft JhengHei;
   padding: 0px 10px;
 -webkit-filter: drop-shadow(1px 1px 1px #d4d4d4);
}

.right_info  input.searchMFBt{
	background-color: #ffffff;
	background-image: url(http://localhost/dloygtw/images/searchIcon_white.png);
 -webkit-filter: drop-shadow(1px 1px 1px #d4d4d4);
	background-position: center;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;	
	outline:none;
    border: 1px solid #a99aab;
    position: absolute;
  left: 292px;
    top: 81px;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}
.right_info  input.searchMFBt:hover{
	
	background-image: url(http://localhost/dloygtw/images/searchIcon_rollfilmBG.png);
	background-color: #8e8071;
	cursor: pointer;
}

.right_info .blogarchive{
	/*background-color: #8e8071;*/
	background-image: url(http://localhost/dloygtw/images/tabs/rightside_archive.png);
    -webkit-filter: drop-shadow(1px 1px #cbcbcb);
	width: 322px;
	height: 36px;
	position: relative;
	z-index: 2;
	left: -20px;
	top:-180px;
	/*line-height:41px;*/
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	text-align: center;
}
.right_info .blogarchive p{
	position: absolute;
	top:-12px;
	left:70px;
}


/* Prevent accidental highlighting when toggling */


.collapsed-archives {
	position: relative;
	top:-200px;
	width: 301px;
	z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:#323232;
    background-color: #FFF;
   
    padding: 30px 0px 20px 20px;
}
.right_info div.collapsed-archives_after {
	position: relative;
	top: -201px;
	z-index: 3;
	width: 321px;
	height: 40px;
	background-image: url(http://localhost/dloygtw/images/tabs/yearAfter.png);
    -webkit-filter: drop-shadow(1px 1px #cbcbcb);
}


/* Toggles */
.collapsed-archives > ul.years {
	 -webkit-filter: drop-shadow(0px 1px #e4e4e4);
    list-style: none !important;
    margin-left: 0 !important;
}
.collapsed-archives > ul.years li{
/*	background-image: url(http://localhost/dloygtw/images/tabs/yearTag.png);
	-webkit-filter: drop-shadow(1px 1px #cbcbcb);
	background-repeat: no-repeat;*/
	-webkit-filter: drop-shadow(0px 1px #e4e4e4);
	/*-webkit-filter: drop-shadow(1px 1px #cbcbcb);*/
	font-family: 'Architects Daughter', cursive;
	font-size: 20px;
	
}
.collapsed-archives > ul.years li ul.months li:hover{
color: #ee1111;
}
.collapsed-archives ul ul {
    margin-left: 2.5em !important;
}
.collapsed-archives input + label:before {
    content: '[+]';
    padding-right: 5px;
}
.collapsed-archives-triangles input + label:before {
    content: '\25b6';
}
.collapsed-archives input:checked + label:before {
    content: '[\2212]';
}
.collapsed-archives-triangles input:checked + label:before {
    content: '\25bc';
}
.collapsed-archives input {
    position: absolute;
    opacity: 0;
}
.collapsed-archives label,
.collapsed-archives input {
    cursor: pointer;
}
.collapsed-archives label {
    display:inline;
}

/* Toggled content */
.collapsed-archives input ~ ul {
    display: none;
}
.collapsed-archives input:checked ~ ul {
    display: block;
}
